# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
rag-env/
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# NLTK data
nltk_data/ 